#canvas{
	position: absolute;
	background: black;
	width: 100%;
	height: 100%;
	top: 250px;
	left: 0;
}

#header {
	text-decoration: none;
	color: black;
	display: block;
    height: 100%;
    width: 100%;
}

a.listProof {
	text-decoration: none;
	font-weight: bold;
	color: red;
	font-size: 24px;
}

#div1 {
	border: 5px outset red;
    background-color: lightblue;
    text-align: center;
	width: 100%;
    height: 80px;
}

#fileName {
	position: absolute;
	font-size: 24px;
	top: 265px;
	left: 140px;
}

#isDone {
	font-size: 24px;
}

#fileInput {
	display:none;
}

button {
	display:block;
	width:120px;
	height:30px;
}

li {
	background: #cce5ff;
	color: darkblue;
	margin: 5px;
}

ul {
  background: #3399ff;
  padding: 20px;
  list-style-type: none;
}

a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}


.box {
	vertical-align: top;
    display: inline-block;
    width: 300px;
    height: 40px;
    background-color: #FAE724;
    margin: 0 10px;
	text-align: center;
	line-height: 10px;
	border-radius: 100px;
	cursor: pointer;
	margin-top: 10px;
}

.click {
    display: inline-block;
    width: 300px;
    height: 40px;
    background-color: #A768E9;
    margin: 0 10px;
	text-align: center;
	line-height: 10px;
	border-radius: 100px;
}

body {
	background-color: #19B4E9;
}

.box:hover {
    cursor: pointer;
	background-color: #A2F9BD;
}
.click:hover {
    cursor: pointer;
	background-color: #A2F9BD;
}

#container3:hover {
    cursor: pointer;
	background-color: #A2F9BD;
}

#container1:hover {
    cursor: pointer;
	background-color: #A2F9BD;
}

.box b {
	position:relative;
	top: 14px;
	font-size: 24px;
}

.box1 b {
	position:relative;
	top: 14px;
	font-size: 24px;
}

#container3 {
	display: inline-block;
    width: 450px;
    height: 40px;
    background-color: #FAE724;
    margin: 10px;
	text-align: center;
	line-height: 10px;
	border-radius: 100px;
	cursor: pointer;
}

#container1 {
    display: inline-block;
    width: 450px;
    height: 40px;
    background-color: #FAE724;
    margin: 10px;
	text-align: center;
	line-height: 10px;
	border-radius: 100px;
	cursor: pointer;
}

#div2 {
    background-color: #FAE724;
    margin: 0 10px;
	text-align: center;
	height: 130px;
	line-height: 30px;
	border-radius: 100px;
}

#div2 p {
	position:relative;
	top: 14px;
	margin-left: 30px;
    font-size: 24px;
}

#searchbar {
	width: 250px;
	height: 30px;
	font-size: 24px;
}

#pageSearchBar {
	width: 250px;
	height: 40px;
	font-size: 24px;
}

input::placeholder {
	font-size: 24px;
}

#choosefile {
	font-size: 16px;
}

#label1 {
	font-size: 24px;
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


table {
	border: 1px solid;
	border-spacing: 0px;

}
tr {
	border: 1px solid;
	border-spacing: 0px;
	background: white;
}
td {
	border: 1px solid;
	border-spacing: 0px;
	white-space: pre;
}

th {
	border: inherit;
	background: yellow;
}

a span {
	color: green;
}

#searchContainer {
	position: relative;
	width: 300px;
}
#searchInput {
	width: 100%;
	padding: 10px;
}
#recommendationList {
	position: absolute;
	top: 40px;
	width: 100%;
	font-size: 24px;
	border: 1px solid #ccc;
	border-top: none;
	max-height: 150px;
	overflow-y: auto;
	background: white;
	display: none;
}

.line {
	display: inline-block;
	margin-top: 10px;
	margin-left: 70px;
	height: 40px;
	vertical-align: top;
}


#container6 {
	display: inline-block;
	margin-left: 200px;
    width: 300px;
    height: 50px;
    background-color: #F35B4F;
	text-align: center;
}